@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0091EA;
  --color-bg-dark: #2e3138;
}

/* Ocultar scrollbar completamente pero mantener funcionalidad */
.overflow-y-auto {
  scrollbar-width: none;
}

.overflow-y-auto::-webkit-scrollbar {
  display: none;
}